<div class="contenedor">
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Chats</h1>
    </div>
    <!-- Chat -->
    <div class="chat" *ngIf="muestraMensajes == false">
        <!-- Búsqueda -->
        <!-- <div class="busqueda">
            <div class="input">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
                <div id="search-wrapper">
                    <input type="search" id="search" placeholder="Buscar"><i class="fa fa-search"></i>
                </div>
            </div> -->
            <!-- Botón -->
            <!-- <div class="boton">
                <div class="form-group" id="contenedor-boton">
                    <button id="boton" class="btn btn-primary btn-block">+</button>
                </div>
            </div>
        </div> -->
        <!-- Chats -->
        <div class="mensajeria">
            <!-- Chat de grupos -->
            <div class="chats" style="margin-top: 2%;" *ngIf="datosChat.length >= 1">
                <div class="contenido" *ngFor="let chats of datosChat" (click)="mostrarMensajes(chats.id_chat)">
                    {{chats.nombre}} {{chats.apellidos}}
                </div>
            </div>
        </div>
        <!-- No hay chats -->
        <div class="sinChats" *ngIf="datosChat.length == 0">
            <h3 style="margin-top: 5%; margin-bottom: 7%;">No tienes conversaciones</h3>
            <img src="./../../../assets/img/Logo.png">
        </div>
    </div>
    <!-- Chat -->
    <div class="chat2" *ngIf="muestraMensajes == true">
        <div class="barraSuperior">
            <!-- Nombre del chat -->
            <div class="nombreContacto">
                Chat
            </div>
            <!-- Botón para eliminar chat -->
            <div class="botonBorrar">
                <button id="botonBorrar" class="btn btn-danger btn-block" (click)="abrirModal(contenido)">
                    x
                </button>
            </div>
        </div>
        <!-- Modal para eliminar chat -->
        <ng-template #contenido let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title" style="margin-left: 3%;">¿Eliminar chat?</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="margin-right: 3%;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p style="font-weight: bold; text-align: center;">¿Seguro que quieres eliminar el chat?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="botonEliminar" (click)="borrarChat()">Eliminar</button>
              </div>
        </ng-template>
        <!-- Contenido del chat -->
        <div class="contenidoChat">
            <div class="mensaje" *ngFor="let texto of mensajes" [ngClass]="{'mensajePropio' : texto.id_emisor == this.sesiones.id_login1}">
                <p>{{texto.mensaje}}</p>
            </div>
        </div>
        <!-- Input para escribir mensaje -->
        <div class="inputMensaje">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
            <div id="search-wrapper2">
                <input type="text" id="search" placeholder="Escribe tu mensaje" #mensaje required>
            </div>
            <!-- Botón -->
            <div class="botonMensaje">
                <div class="form-group" id="contenedor-boton">
                    <button id="botonMensaje" class="btn btn-primary btn-block" (click)="nuevoMensaje(mensaje.value)">+</button>
                </div>
            </div>
        </div>
    </div>
</div>