<div class="contenedor">
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Chats</h1>
    </div>
    <!-- Chat -->
    <div class="chat">
        <!-- Búsqueda -->
        <div class="busqueda">
            <div class="input">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
                <div id="search-wrapper">
                    <input type="search" id="search" placeholder="Buscar"><i class="fa fa-search"></i>
                </div>
            </div>
            <!-- Botón -->
            <div class="boton">
                <div class="form-group" id="contenedor-boton">
                    <button id="boton" class="btn btn-primary btn-block">+</button>
                </div>
            </div>
        </div>
        <!-- Chats -->
        <div class="mensajeria">
            <!-- Chat de grupos -->
            <div class="chats" style="margin-top: 2%;" *ngIf="chatsAdoptante.length >= 1">
                <div class="contenido" *ngFor="let nombre of nombreProtectora" routerLink="/mensajes">
                    {{nombre}}
                </div>
            </div>
            <div class="chats" style="margin-top: 2%;" *ngIf="chatsProtectora.length >= 1">
                <div class="contenido" *ngFor="let adoptante of nombreAdoptante" routerLink="/mensajes">
                    {{adoptante}}
                </div>
            </div>
            <div class="sinChats" *ngIf="chatsAdoptante.length == 0 && chatsProtectora.length == 0">
                <h3 style="margin-top: 5%; margin-bottom: 7%;">No tienes conversaciones</h3>
                <img src="./../../../assets/img/Logo.png">
            </div>
        </div>
    </div>
</div>