@import "https://fonts.googleapis.com/css?family=Lato:400,700";

.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

    .chat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .busqueda {
            display: flex;
            flex-direction: row;
            margin-top: 2%;
        }


        .input {
            margin-top: 1%;
            margin-left: 5%;
        }

        .boton {
            margin-top: 0.75%;
            margin-left: 3%;
        }

        #boton {
            display: block;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            background-color: #5EC0CA;
            border: none;
        }

    .mensajeria {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

        .chats {
            width: 60%;
            height: 100%;
        }

            .contenido {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
}

#search-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row-reverse nowrap;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  width: 50em;
}
#search-wrapper #search {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 25px 25px 0;
  color: #444;
  padding: .6rem .5rem;
  font-family: 'Lato';
  font-size: 1em;
  font-weight: lighter;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  width: 100%;
}

#search-wrapper #search + i {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  color: #5EC0CA;
  padding: .85rem .85rem;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
#search-wrapper #search:focus {
  border-color: #999;
  outline: none;
}
#search-wrapper #search:focus + i {
  border-color: #999;
}