<div class="contenedor">
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Chat</h1>
    </div>
    <!-- Chat -->
    <div class="chat">
        <!-- Búsqueda -->
        <div class="busqueda">
            <div class="input">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
                <div id="search-wrapper">
                    <input type="search" id="search" placeholder="Buscar"><i class="fa fa-search"></i>
                </div>
            </div>
            <!-- Botón -->
            <div class="boton">
                <div class="form-group" id="contenedor-boton">
                    <button id="boton" class="btn btn-primary btn-block">+</button>
                </div>
            </div>
        </div>
        <!-- Chats -->
        <div class="mensajeria">
            <!-- Chat de grupos -->
            <div class="chats" style="margin-top: 2%;">
                <!-- <div class="contenido">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, deleniti eos mollitia earum suscipit magni placeat. Itaque laudantium non aliquam, in vel ipsam quos eius, accusamus perferendis inventore, nam sint.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque sint hic earum adipisci odio nam quo blanditiis nesciunt ipsa saepe eligendi voluptas quia autem nostrum, odit ea impedit delectus.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ut quae nesciunt soluta a modi hic ipsum quibusdam cum? Iste, omnis autem? Est autem corrupti, iste suscipit reprehenderit beatae aperiam.</p>
                </div> -->
                <div class="contenido">
                    <h3 style="margin-top: 5%; margin-bottom: 7%;">No tienes conversaciones</h3>
                    <img src="./../../../assets/img/Logo.png">
                </div>
            </div>
        </div>
    </div>
</div>