<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
           
            <a routerLink="faq"><li class="list-inline-item">Preguntas frecuentes</li></a>
            <a routerLink="listadoAnimales"><li class="list-inline-item">¿Quieres adoptar?</li></a>
            <a routerLink="contacto"><li class="list-inline-item">Contáctanos</li></a>
        </ul>
        <p class="copyright">© 2021 Adopt-Me &nbsp;&nbsp;&nbsp;&nbsp; contacto@adopt-me.com &nbsp;&nbsp;&nbsp;&nbsp; Telefono: 91 000 00 00</p>
    </footer>
