<footer class="footer">
    <!-- Iconos RRSS -->
    <div class="iconos">
        <div class="logo" style="margin-right: 2%;">
            <a href=""><img src="./../../../assets/img/Iconos/Facebook.png" style="width: 3em; height: 3em;"></a>
        </div>
        <div class="logo">
            <a href=""><img src="./../../../assets/img/Iconos/Instagram.png" style="width: 3em; height: 3em;"></a>
        </div>
        <div class="logo" style="margin-left: 2%;">
            <a href=""><img src="./../../../assets/img/Iconos/Twitter.png" style="width: 3em; height: 3em;"></a>
        </div>
    </div>
    <!-- Hipervínculos -->
    <div class="hipervinculos">
        <div class="link" style="margin-right: 2%;">
            <a routerLink="faq"><li class="list-inline-item">Preguntas frecuentes</li></a>
        </div>
        <div class="link">
            <a routerLink="listadoAnimales"><li class="list-inline-item">¿Quieres adoptar?</li></a>
        </div>
        <div class="link" style="margin-left: 2%;">
            <a routerLink="contacto"><li class="list-inline-item">Contáctanos</li></a>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <p>© 2021 Adopt-Me &nbsp;&nbsp;&nbsp;&nbsp; contacto@adopt-me.com &nbsp;&nbsp;&nbsp;&nbsp; Telefono: 91 000 00 00</p>
    </div>
</footer>