<div class="contenedor">
  <!-- Título de la página -->
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Finales felices</h1>
    </div>
    <!-- Tarjetas de finales felices -->
    <div class="row" *ngIf="finalesFelices.length >= 1">
      <div *ngFor="let final of finalesFelices" class="col-3">
        <div class="card" style="width: 18rem; border-radius: 1em;">
          <img src="{{final.imagenes}}" class="card-img-top" alt="" style="width: 18em; height: 12em;" (click)="abrirModal(contenido)">
          <div class="card-body">
            <p class="card-text" style="text-align: center; font-weight: 1000; font-size: 1.25em;">{{final.nombreAnimal}}</p>
          </div>
        </div>
        <!-- Modal -->
        <ng-template #contenido let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{final.nombreAnimal}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="{{final.imagenes}}" class="card-img-top" alt="" style="width: 18em; height: 12em;">
            <p style="font-weight: bold;">Aquí tenemos a {{final.nombreAnimal}} el {{final.fecha_Publicacion}}</p>
            <p style="text-align: justify;">{{final.descripcion}}</p>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="sinFinales" *ngIf="finalesFelices.length == 0">
        <div class="logo">
            <img src="./../../../assets/img/Logo.png">
        </div>
        <div class="texto">
            <h2>No hay finales felices</h2>
        </div>
        <div class="hipervinculo">
            <h4>¿Quieres conocer algún amigo peludo?</h4><br>
            <a routerLink="/listadoAnimales">¡A ver esos animalitos!</a>
        </div>
    </div>
</div>