<div class="contenedor">
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Finales felices</h1>
    </div>
    <div class="imagenes" *ngIf="finalesFelices == null">
        <!-- Primera fila -->
        <div class="fila1">
            <!-- Primera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Laika</p>
                </div>
            </div>
            <!-- Segunda tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Chispy</p>
                </div>
            </div>
            <!-- Tercera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Cristal</p>
                </div>
            </div>
            <!-- Cuarta tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Turca</p>
                </div>
            </div>
        </div>
        <!-- Segunda fila -->
        <div class="fila2">
            <!-- Primera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 5.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Golfo</p>
                </div>
            </div>
            <!-- Segunda tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 6.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Bayron</p>
                </div>
            </div>
            <!-- Tercera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 7.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Natilla</p>
                </div>
            </div>
            <!-- Cuarta tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 8.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Nubarrón y Vendaval</p>
                </div>
            </div>
        </div>
        <!-- Tercera fila -->
        <div class="fila3">
            <!-- Primera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 9.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Oreo</p>
                </div>
            </div>
            <!-- Segunda tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 10.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Quicky</p>
                </div>
            </div>
            <!-- Tercera tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 11.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Bellota</p>
                </div>
            </div>
            <!-- Cuarta tarjeta -->
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="./../../../assets/img/Página finales felices/Perro 12.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">Kuky</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sinFinales" *ngIf="finalesFelices != null">
        <div class="logo">
            <img src="./../../../assets/img/Logo.png">
        </div>
        <div class="texto">
            <h2>No hay finales felices</h2>
        </div>
        <div class="hipervinculo">
            <h4>¿Quieres conocer algún amigo peludo?</h4><br>
            <a routerLink="/listadoAnimales">¡A ver esos animalitos!</a>
        </div>
    </div>
</div>