.container{
    padding: 20px;
    margin-bottom: -65px;
}


 #botonModificar{
    width: 200px;
     background-color: #5EC0CA;
     color: #fff;
     border-radius: 15px;
     border: none;

     /* animacion */
     border-color: #5EC0CA;
     color: #fff;
     background-image: -webkit-linear-gradient(45deg, orange 50%, transparent 50%);
     background-image: linear-gradient(45deg, orange  50%, transparent 50%);
     background-position: 100%;
     background-size: 400%;
     -webkit-transition: background 300ms ease-in-out;
     transition: background 300ms ease-in-out;
 }

 #botonModificar:hover {
    background-position: 0;
  }

  #botonFinales{
    width: 200px;
     background-color: orange;
     color: #fff;
     border-radius: 15px;
     border: none;

     /* animacion */
     border-color: orange;
     color: #fff;
     background-image: -webkit-linear-gradient(45deg, #5EC0CA 50%, transparent 50%);
     background-image: linear-gradient(45deg, #5EC0CA  50%, transparent 50%);
     background-position: 100%;
     background-size: 400%;
     -webkit-transition: background 300ms ease-in-out;
     transition: background 300ms ease-in-out;
 }

 #botonFinales:hover {
    background-position: 0;
  }

 .boton{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: 50px;
     margin-top: 50px;
     margin-right: 90px;
 }

 #botonFinales{
    width: 200px;
     background-color: orange;
     color: #fff;
     border-radius: 15px;
     border: none;

     /* animacion */
     border-color: orange;
     color: #fff;
     background-image: -webkit-linear-gradient(45deg, #5EC0CA 50%, transparent 50%);
     background-image: linear-gradient(45deg, #5EC0CA  50%, transparent 50%);
     background-position: 100%;
     background-size: 400%;
     -webkit-transition: background 300ms ease-in-out;
     transition: background 300ms ease-in-out;
 }

 #botonFinales:hover {
    background-position: 0;
  }

 h1{
     font-size: 3em;
     
 }
 h5{
     margin-left: -15px;
 }

 table{
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

table td{
    padding: 10px;
}

table th{
    padding: 10px;
  }

hr{
    border: 1px solid black;
    margin-right: 90px;
    margin-top: 40px;
}


.info{
    display: flex;
    color: black;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(238, 238, 238)
 
 }
 
 #imagenInfo{
    width: 100px;
    height: 150px;
    margin-top: 0;
     /* efectos */
    overflow:hidden;
    transition: all 1.5s;
 }
 #imagenInfo:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    cursor: pointer;
}

/* .card-body {
    display: flex;
    align-items: center;
    margin: auto;
} */

.iconoBody{
    width: 20px;
    height: 20px;
  
}

.descripcion{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 90px;
    text-align: justify;
    
}
.galeria{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 1100px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px
}


.card{
    width: 220px;
    height: 140px;
    
      /* efectos */
    overflow:hidden;
    transition: all 1.5s;
    
}
.card:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    cursor: pointer;
}
.editarP{
    margin-top: 300px;
    margin-left: 600px;
    display: flex;
    align-items: flex-end;
}
