.container{
    padding: 20px;
    margin-bottom: -65px;
}


 #botonModificar{
    width: 200px;
     background-color: #5EC0CA;
     color: #fff;
     border-radius: 15px;
     border: none;

     /* animacion */
     border-color: #5EC0CA;
     color: #fff;
     background-image: -webkit-linear-gradient(45deg, orange 50%, transparent 50%);
     background-image: linear-gradient(45deg, orange  50%, transparent 50%);
     background-position: 100%;
     background-size: 400%;
     -webkit-transition: background 300ms ease-in-out;
     transition: background 300ms ease-in-out;
 }

 #botonModificar:hover {
    background-position: 0;
  }

 .boton{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: 50px;
     margin-top: 50px;
     margin-right: 90px;
 }

 h1{
     font-size: 3em;
     
 }
 h5{
     margin-left: -40px;
 }

 table{
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

table td{
    padding: 10px;
}

table th{
    padding: 10px;
  }

hr{
    border: 1px solid black;
    margin-right: 90px;
    margin-top: 40px;
}


.info{
    display: flex;
    color: black;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(238, 238, 238)
 
 }
 
 #imagenInfo{
    width: 100px;
    height: 150px;
    margin-top: 0;
     /* efectos */
    overflow:hidden;
 }
 #imagenInfo:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    cursor: pointer;
}

.card-body {
    display: flex;
    align-items: center;
    margin: auto;
}

.iconoBody{
    width: 20px;
    height: 20px;
  
}

.descripcion{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 90px;
    text-align: justify;
    
}
.galeria{
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}
.card-group{
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
    padding-top: 20px;
    
}

.card{
    width: 100px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    
      /* efectos */
    overflow:hidden;
    
}
.card:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    cursor: pointer;
}
.editarP{
    margin-top: 300px;
    margin-left: 600px;
    display: flex;
    align-items: flex-end;
}
.protectora{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #F1C40F;
}
.protectora:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
