*{
    font-family: sans-serif;
}

#botonEliminar{
    width: 200px;
    border-radius: 1em;
    background-color: #ebd89c;
    color: #fff;

 }

 #botonModificar{
    width: 200px;
    border-radius: 1em;
    background-color: #5EC0CA;
    color: #fff;
 }

 .boton{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: 50px;
     margin-top: 50px;
 }

 h1{

     font-size: 3em;
     margin-top: 20px;
 }

 table{
   
       width: 700px;
       margin: auto;
       margin-top: 20px;
}

table td{

    padding: 10px;

}

table th{

    padding: 10px;

  }

hr{
    border: 1px solid black;
}

img{
    margin-top: 50px;
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
.info{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 20px;

}

#imagenInfo{
    width: 150px;
    height: 150px;
    
    margin-top: 0;
}

.fotos{
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.descripcion{
    text-align: justify;
}

@media all and (max-width: 978px){

    .fotos{
        display: flex;
        align-items: center;
       flex-direction: column;
       gap: 1px;

 }

 @media all and (max-width: 606px){

    #imagenInfo{
        display: none;
    }
 }
}
