 <mat-nav-list>

    <div class="logo py-4">
     <a routerLink="inicio"><img src="../../../assets/img/Logo.png" alt="Adopt-Me"></a>
   </div>
  <mat-divider></mat-divider>
    <h2 matSubheader class="mt-1"></h2>

   <a mat-list-item routerLinkActive="list-item-active" routerLink="/inicio">
     <mat-icon>Inicio</mat-icon> Home
   </a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/editarAnimal">
     <mat-icon>dashboard</mat-icon>editarAnimal
   </a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/registro">
    <mat-icon>dashboard</mat-icon> registro
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
    <mat-icon>dashboard</mat-icon> login
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/añadirAnimal">
    <mat-icon>dashboard</mat-icon> añadirAnimales
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/añadirNoticias">
    <mat-icon>dashboard</mat-icon> añadirNoticias
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/perfilUsuario">
    <mat-icon>dashboard</mat-icon> Perfil usuario
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/noticias">
    <mat-icon>dashboard</mat-icon> Noticias
  </a>
 
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/listadoAnimales">
    <mat-icon>dashboard</mat-icon> Lista Animales
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/faq">
    <mat-icon>dashboard</mat-icon> fq
  </a>



