<section class="general">
    <h1>Quiénes somos</h1>
    <article class="cardirection">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/quienesSomos/img.jpeg" class="card-img-top" alt="..." style="height: 300x; width: 150px">
                <div class="card-body">
                    <h5 class="card-title" class="nombre">Stefania Buri</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 300x; width: 150px">
                <img src="./assets/quienesSomos/IMG_0418.jpg" class="card-img-top" alt="..." style="height: 300x; width: 150px">
                <div class="card-body">
                    <h5 class="card-title">Patricia Batalla</h5>
                </div>
            </div>
        </div>
    </article>
    <article class="cardirection">
   
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/quienessomos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alex Carrasco</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/quienessomos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rodrigo Hernández</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/quienessomos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esther Morales</h5>
                </div>
            </div>
        </div>
    </article>
</section>