<!-- EDITAR PERFIL USUARIO -->
<!-- Título de la página -->
<div class="titulo">
    <h1 style="margin-top: 5%; margin-left: 50px;">Editar perfil</h1>
</div>

<div class="contenedor" style="margin-left: 50px; margin-top:20px;">
        
<form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">

<div class="row">
        <!--Input nombre-->
        <div class="col">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text"  class="redondeado" name="nombre"  placeholder="Nombre" #nombre>
            </div>
        </div>

         <!--Input apellidos-->
        <div class="col">
            <div class="form-group">
                <label>Apellidos</label>
                <input type="text"  class="redondeado" name="apellidos"   placeholder="Apellidos" #apellidos>
            </div>
        </div>

         <!--Input fecha nacimiento-->
        <div class="col">
            <div class="form-group">
                <label for="start">Fecha de nacimiento:</label><br>
                <input type="date" id="start" name="fechaNacimiento"  class="redondeado" value="" min="2018-01-01" max="2021-12-31" #fechaNacimiento>   
            </div>
        </div> 
  </div> 

 <div class="row">

         <!--Input telefono-->
        <div class="col">
            <div class="form-group">
                <label>Teléfono</label>
                <input type="text"  class="redondeado" name="telefono"  placeholder="Telefono"  #telefono>
            </div>
        </div>      


        <!--Input localidad-->
        <div class="col">
            <div class="form-group">
                <label>Localidad</label>
                <input type="text"  class="redondeado" name="localidad"  placeholder="" #localidad>
            </div>
        </div>

        <!--Input direccion -->
        <div class="col">
            <div class="form-group">
                <label>Direccion</label>
                <input type="text"  class="redondeado" name="direccion"  placeholder="" #direccion>
            </div>
        </div>
</div>
        <!--Input Imagen-->
        <div class="col">
            <div class="form-group">
                <label>Imagen</label>
                <input type="text"  class="redondeado" name="imagen"  placeholder="Imagen" #imagen>
            </div>
        </div>


    
        <!--Textarea descripcion-->
        <div class="row">  
          
            <div class="col" style="margin-top: 20px;">
                <label>Descripcion</label><br>
                <textarea class="form-control" id="descripcion" name="descripcion"   placeholder="Descripción" #descripcion></textarea>
            </div>   
        </div> 



      
        <!--Botones-->
        <div style="display: flex; justify-content: center; gap:40px">
                <button type="reset" class="btn btn-primary btn-block"  id="botonEnviar" (click) = "editarPerfil(nombre.value, apellidos.value, fechaNacimiento.value, telefono.value, localidad.value, direccion.value, imagen.value, descripcion.value)">Guardar</button> 
            
                <div class="form-group" id="contenedor-boton">
                    <button type="button" id="botonEliminar" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar cuenta
                    </button>
                </div>
        </div>
</form> 
  


   <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 1em;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres eliminar tu cuenta?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Si eliminas la cuenta perderás toda la información que tengas y no podrás recuperarla
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="botonCancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="botonEliminar">Eliminar cuenta</button>
                </div>
            </div>
        </div>
    </div>