<div class="contenedor">
  <!-- Contenedor del carousel -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 100%;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./../../../assets/img/Página inicio/Perro tumbado.jpg" class="d-block w-100" alt="" style="height: 60vh;">
        </div>
        <div class="carousel-item">
          <img src="./../../../assets/img/Página inicio/Gato tumbado.jpg" class="d-block w-100" alt="" style="height: 60vh;">
        </div>
        <div class="carousel-item">
          <img src="./../../../assets/img/Página inicio/Perritos.jpg" class="d-block w-100" alt="" style="height: 60vh;">
        </div>
        <div class="carousel-item">
          <img src="./../../../assets/img/Página inicio/Gato ojos.jpg" class="d-block w-100" alt="" style="height: 60vh;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  <!-- Contenedor de instrucciones para adoptar -->
  <div class="instrucciones">
    <div class="titulo-instrucciones">
      <h2>¿CÓMO ADOPTAR?</h2>
    </div>
    <div class="contenedor-intrucciones">
      <div class="primera-instruccion">
        <img src="./../../../assets/img/Página inicio/Perro-Dibujo2.png" width="50%" height="50%"><hr>
        <p>Ven y conoce al animal que vas a adoptar. ¡Todos son preciosos!</p>
      </div>
      <div class="segunda-instruccion">
        <img src="./../../../assets/img/Página inicio/Gato dibujo.png" width="50%" height="50%"><hr>
        <p>Completa el cuestionario pre-adopción, ¡es sencillo!</p>
      </div>
      <div class="tercera-instruccion">
        <img src="./../../../assets/img/Página inicio/Conejo dibujo.png" width="50%" height="50%"><hr>
        <p>Si todo está correcto podrás firmar el contrato de adopción</p>
      </div>
      <div class="cuarta-instruccion">
        <img src="./../../../assets/img/Página inicio/CasetaPerro.png" width="50%" height="50%"><hr>
        <p>Vuelve a casa y disfruta de tu nuev@ mejor amig@, ¡cuídalo!</p>
      </div>
    </div>
  </div>
  <!-- Contenedor de adopciones -->
  <div class="adopciones">
      <!-- Primera tarjeta de animal -->
      <div class="card" style="width: 18rem; height: 26em; border-radius: 2em;">
        <a href=""><img src="./../../../assets/img/Página inicio/Bayron.jpg" class="card-img-top" alt=""></a>
        <div class="card-body">
          <p class="card-text" id="nombre-animal1">Bayron</p>
          <p class="card-text" style="font-size:large;">3 años</p>
          <p class="card-text" style="font-size:large;">Entre Bigotes y Huellas</p>
          <button class="boton">+ info.</button>
        </div>
    </div>
      <!-- Segunda tarjeta de animal -->
      <div class="card" style="width: 18rem; height: 26em; border-radius: 2em;">
        <a href=""><img src="./../../../assets/img/Página inicio/Marcus y Jacko.jpg" class="card-img-top" alt="" id="imagen-animal2"></a>
        <div class="card-body">
          <p class="card-text" id="nombre-animal2">Markus y Jacko</p>
          <p class="card-text" style="font-size:large;">9 meses</p>
          <p class="card-text" style="font-size:large;"> ARPA de protección animal</p>
          <button class="boton">+ info.</button>
        </div>
    </div>
      <!-- Tercera tarjeta de animal -->
      <div class="card" style="width: 18rem; height: 26em; border-radius: 2em;">
        <a href=""><img src="./../../../assets/img/Página inicio/Peluso.jpg" class="card-img-top" alt=""></a>
        <div class="card-body">
          <p class="card-text" id="nombre-animal3" >Peluso</p>
          <p class="card-text" style="font-size:large;">6 meses</p>
          <p class="card-text" style="font-size:large;">Animalista de Ontígola</p>
          <button class="boton">+ info.</button>
        </div>
    </div>
      <!-- Cuarta tarjeta de animal -->
      <div class="card" style="width: 18rem; height: 26em; border-radius: 2em;">
        <a href=""><img src="./../../../assets/img/Página inicio/Moncho.jpg" class="card-img-top" id="cuarta-tarjeta" alt=""></a>
        <div class="card-body">
          <p class="card-text" id="nombre-animal4">Moncho</p>
          <p class="card-text" style="font-size:large;">3 años</p>
          <p class="card-text" style="font-size:large;">Entre Bigotes y Huellas</p>
          <button class="boton">+ info.</button>
        </div>
    </div>
  </div>
  <!-- Opiniones de nuestros usuarios -->
  <div class="titulo-opiniones">
    <h2>¿QUÉ DICEN NUESTROS USUARIOS?</h2>
  </div>
  <div class="opiniones">
    <!-- Primera tarjeta de opinión -->
    <div class="card" style="width: 20rem; height: 27em; border-radius: 2em; ">
      <div class="card-body" style="margin: -18px; margin-top: 10px;">
        <p class="card-text" style="padding:20px; text-align: justify;"> Adopté a mis dos perritos através de esta aplicación, me puse en contacto con la protectora Zarpas y super contenta con el seguimiento que le hacen a las mascotas.</p>
        <p class="card-text" style="padding:20px; text-align: justify; margin-top: -40px;">- ToniLuci85</p>
        <img src="./../../../assets/img/Página inicio/Niña con perro.jpg" class="card-img-top" id="primera-tarjeta" alt="">

      </div>
    </div>

    <!-- Segunda tarjeta de opinión -->
    <div class="card" style="width: 20rem; height: 27em;  border-radius: 2em;">
      <div class="card-body" style="margin: -18px; margin-top: 10px;">
        <p class="card-text" style="padding:20px; text-align: justify;"> Soy casa de acogida y adoptante. Gracias a esta aplicacion por unirnos mas a los animalitos y facilitarnos la comunición con las protectoras cercanas.</p>
        <p class="card-text" style="padding:20px; text-align: justify; margin-top: -40px;">- ClaudiaNicolasa54</p>
        <img src="./../../../assets/img/Página inicio/Mujer con perro.jpg" class="card-img-top" id="segunda-tarjeta" alt="" >
      </div>
    </div>
    <!-- Tercera tarjeta de opinión -->
    <div class="card" style="width: 20rem; height: 27em; border-radius: 2em;">
      <div class="card-body" style="margin: -18px; margin-top: 10px;">
        <p class="card-text" style="padding:20px; text-align: justify;">Me encanta esta aplicacion, es facil de usar y llamativa, atraves de ella contacte con una protectora y adopte a Akira. una gatita que vino a nuestras vidas llena de energía.</p>
        <p class="card-text" style="padding:20px; text-align: justify; margin-top: -40px;">- JaiLoren10</p>
      
      <img src="./../../../assets/img/Página inicio/Hombre con perros.jpg" class="card-img-top" id="tercera-tarjeta" alt="" style="width: 100%;">
    </div>
    </div>
  </div>
  <!-- Sección quienes somos -->
  <div class="titulo-quienSomos">
    <h2>¿QUIENES SOMOS?</h2>
  </div>
  <div class="quienes-somos">
    <!-- Primer colaborador -->
    <div class="contenedor-colaborador1">
      <div class="colaborador1">
        <div class="imagen-colaborador1">
          <img src="./../../../assets/img/Página inicio/Hombre1.jpg" style="height: 40vh; width: 22vw;">
        </div>
        <div class="texto-colaborador1">
          <p style="margin-top: 10%; margin-left: 5%; text-align: center; font-size:xx-large; margin-top: 100px;">Rodrigo Hernández</p>
          <div class="redes-colaborador1">
            <a href="https://www.linkedin.com/in/rodrigo-hern%C3%A1ndez-quijada-378331224/"><img src="./../../../assets/img/Iconos/LinkedIn.png" style="width: 3em; height: 3em;" alt="LinkedIn"></a>
            <a href="https://github.com/Roherky"><img src="./../../../assets/img/Iconos/GitHub.png" style="width: 3em; height: 3em;" alt="GitHub" ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Segundo colaborador -->
    <div class="contenedor-colaborador2">
      <div class="colaborador2">
        <div class="texto-colaborador2">
          <p style="margin-top: 10%; margin-left: 5%; text-align: center; font-size:xx-large; margin-top: 100px;">Stefanía Buri</p>
          <div class="redes-colaborador2">
            <a href="https://www.linkedin.com/in/stefania-buri-mejia-85a353226/"><img src="./../../../assets/img/Iconos/LinkedIn.png" style="width: 3em; height: 3em;" alt="LinkedIn"></a>
            <a href="https://github.com/StefaniaBuri"><img src="./../../../assets/img/Iconos/GitHub.png" style="width: 3em; height: 3em;" alt=""></a>
          </div>
        </div>
        <div class="imagen-colaborador2">
          <img src="./../../../assets/img/Página inicio/Hombre1.jpg" style="height: 40vh; width: 22vw;">
        </div>
      </div>
    </div>
    <!-- Tercer colaborador -->
    <div class="contenedor-colaborador3">
      <div class="colaborador3">
        <div class="imagen-colaborador3">
          <img src="./../../../assets/img/Página inicio/Hombre1.jpg" style="height: 40vh; width: 22vw;">
        </div>
        <div class="texto-colaborador3">
          <p style="margin-top: 10%; margin-left: 5%; text-align: center; font-size:xx-large; margin-top: 100px;">Patricia Batalla</p>
          <div class="redes-colaborador3">
            <a href="https://www.linkedin.com/in/patricia-batalla-arias-510a7a209/"><img src="./../../../assets/img/Iconos/LinkedIn.png" style="width: 3em; height: 3em;" alt="LinkedIn"></a>
            <a href="https://github.com/PatriB20"><img src="./../../../assets/img/Iconos/GitHub.png" style="width: 3em; height: 3em;" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Cuarto colaborador -->
    <div class="contenedor-colaborador4">
      <div class="colaborador4">
        <div class="texto-colaborador4">
          <p style="margin-top: 10%; margin-left: 5%; text-align: center; font-size:xx-large; margin-top: 100px;">Esther Morales</p>
          <div class="redes-colaborador4">
            <a href="https://www.linkedin.com/in/esther-morales-6384a8227/"><img src="./../../../assets/img/Iconos/LinkedIn.png" style="width: 3em; height: 3em;" alt="LinkedIn"></a>
            <a href="https://github.com/esthermoralesM"><img src="./../../../assets/img/Iconos/GitHub.png" style="width: 3em; height: 3em;" alt=""></a>
          </div>
        </div>
        <div class="imagen-colaborador4">
          <img src="./../../../assets/img/Página inicio/Hombre1.jpg" style="height: 40vh; width: 22vw;">
        </div>
      </div>
    </div>
    <!-- Quinto colaborador -->
    <div class="contenedor-colaborador5">
      <div class="colaborador5">
        <div class="imagen-colaborador5">
          <img src="./../../../assets/img/Página inicio/Hombre1.jpg" style="height: 40vh; width: 22vw;">
        </div>
        <div class="texto-colaborador5">
          <p style="margin-top: 10%; margin-left: 5%; text-align: center; font-size:xx-large; margin-top: 100px;">Álex Balart</p>
          <div class="redes-colaborador5">
            <a href="https://www.linkedin.com/in/alex-carrasco-62216a112/"><img src="./../../../assets/img/Iconos/LinkedIn.png" style="width: 3em; height: 3em;" alt="LinkedIn"></a>
            <a href="https://github.com/BalAlexDec"><img src="./../../../assets/img/Iconos/GitHub.png" style="width: 3em; height: 3em;" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>