.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: serif;
}

.carousel {
    margin-top: 5%;}

.instrucciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    background-color: rgb(238, 238, 238);
    border-radius: 1em;
    padding: 1%;
    width: 100%;
}

    .contenedor-intrucciones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .primera-instruccion {
        width: 10%;
    }

    .primera-instruccion:hover {
        width: 15%;
        transition: 1.5s;
    }

    .segunda-instruccion {
        width: 10%;
    }

    .segunda-instruccion:hover {
        width: 15%;
        transition: 1.5s;
    }

    .tercera-instruccion {
        width: 10%;
    }

    .tercera-instruccion:hover {
        width: 15%;
        transition: 1.5s;
    }

    .cuarta-instruccion {
        width: 10%;
    }

    .cuarta-instruccion:hover {
        width: 15%;
        transition: 1.5s;
    }

.adopciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}

    .boton {
        text-align: center;
        background-color: #5ebfca;
        border-radius: 5em;
        width: 50%;
        border: 0px;
        border-radius: 6em 3em;
        padding: 5%;
        color: white;
    }

.titulo-opiniones {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 8em;
    border-radius: 1em;
}

.opiniones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    #carouselExampleFade {
        display: none;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .instrucciones {
            display: flex;
        }
                      
    * {
    text-align: center;
    }
}

/* @media screen and (max-width: 500px) {

    .card-text {
    }
} */