.container{
    margin: 50px;
    margin-bottom: 200px;
}

.container h1{
    color: #000;
    margin-bottom: 30px;
    font-family: sans-serif;
}

label{
    font-family: sans-serif;
}

 
 .redondeado {
    border-radius: 10px;
    padding: 5px;
    width: 250px;
  }

 #botonEnviar{
     width: 200px; 
     background-color: #5EC0CA; 
     color: #fff;
     border-radius: 10px;
     padding: 10px;
     margin-top: 20px;
 }

 #subirImagen{
    font-weight: bold; 
    font-size: 20px;
    font-family: sans-serif;
 }

 #detalles{
    width: 87%; 
    height: 200%;
    border-radius: 10px;

 }

 .notasYbtn{
    margin-top: 40px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
    width: 200%;
    height: 300%;
     gap: 100px;
   
 }

 #textAreaNotas{
    
    width: 90%;
    height: 120px;
    border-radius: 10px;
    margin-right: 400px;
 }

 .row{
     margin-bottom: 20px;
 }

 @media all and (max-width: 1128px){ 

    .notasYbtn{
      
        flex-direction: column;
        align-items: flex-start;
        justify-content: right;
        gap: 20px;
       
     }   
}

 @media all and (max-width: 994px){ 

    input, select{
        margin-bottom: 20px;
    }
}

@media all and (max-width: 858px){ 

    #textAreaNotas{
    
        width: 80%;    
 }
}