<div class="contenedor">
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Añadir final feliz</h1>
    </div>
    <form class="formulario" #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">
        <!-- Input del nombre del animal -->
        <div class="input-nombre">
            <div class="form-group" id="nombreAnimal">
                <label style="margin-top: 3%;">Nombre</label>
                <input id="input-nombreAnimal" type="text" name="nombre" class="form-control" [(ngModel)]="finalFeliz.nombreAnimal" #nombre="ngModel"
                [ngClass]="{'is-invalid': (nombre.dirty || nombre.touched) && nombre.invalid}" required>
                <div class="invalid-feedback" *ngIf="(nombre.dirty || nombre.touched) && nombre.invalid">
                    <p *ngIf="nombre.errors?.['required']">Debes introducir el nombre del animal</p>
                </div>
            </div>
        </div>
        <!-- Input de la fecha de la publicación -->
        <div class="input-fecha">
            <div class="form-group" id="fechaPublicacion">
                <label style="margin-top: 1%;">Fecha de la publicación</label>
                <input id="input-fechaPublicacion" type="date" name="fechaPublicacion" class="form-control" [(ngModel)]="finalFeliz.fechaPublicacion" #fechaPublicacion="ngModel"
                [ngClass]="{'is-invalid': (fechaPublicacion.dirty || fechaPublicacion.touched) && fechaPublicacion.invalid}" required>
                <div class="invalid-feedback" *ngIf="(fechaPublicacion.dirty || fechaPublicacion.touched) && fechaPublicacion.invalid">
                    <p *ngIf="fechaPublicacion.errors?.['required']">Debes introducir un formato de fecha válido</p>
                </div>
            </div>
        </div>
        <!-- Input de añadir imagen -->
        <div class="input-imagen">
            <div class="form-group" id="imagen">
                <label style="margin-top: 1%;">Imagen del animal</label>
                <input id="input-imagen" type="text" name="imagen" class="form-control" [(ngModel)]="finalFeliz.imagenes" #imagen="ngModel"
                [ngClass]="{'is-invalid': (imagen.dirty || imagen.touched) && imagen.invalid}" required>
                <div class="invalid-feedback" *ngIf="(imagen.dirty || imagen.touched) && imagen.invalid">
                    <p *ngIf="imagen.errors?.['required']">Debes introducir un link de imagen válido</p>
                </div>
            </div>
        </div>
        <!-- Input de la descripción del final feliz -->
        <div class="input-descripcion">
            <div class="form-group" id="descripcion">
                <label style="margin-top: 1%;">Cuéntanos la historia</label>
                <textarea id="input-descripcion" type="text" name="descripcion" class="form-control" [(ngModel)]="finalFeliz.descripcion" #descripcion="ngModel"
                [ngClass]="{'is-invalid': (descripcion.dirty || descripcion.touched) && descripcion.invalid}" required minlength="20"></textarea>
                <div class="invalid-feedback" *ngIf="(descripcion.dirty || descripcion.touched) && descripcion.invalid">
                    <p *ngIf="descripcion.errors?.['required']">¡Cuéntanos la historia!</p>
                    <p *ngIf="descripcion.errors?.['minlength']">Debes introducir 20 caracteres como mínimo</p>
                </div>
            </div>
        </div>
        <!-- Botón de añadir final feliz -->
        <div class="boton">
            <div class="form-group" id="contenedor-boton">
                <button id="boton" class="btn btn-primary btn-block">Añadir</button>
            </div>
        </div>
    </form>
</div>