<div class="contenedor">
    <!-- Contenedor izquierdo -->
    <div class="izquierda">
        <!-- Imagen -->
        <div class="imagen">
            <img src="./../../../assets/img/Página login/Perros tumbados.jpg" style="width: 48vw; height: 64vh; margin-top: 5%; border-radius: 5em;">
        </div>
    </div>
    <!-- Contenedor derecho -->
    <div class="derecha">
        <!-- Bienvenida al usuario -->
        <div class="bienvenida">
            <h1 style="text-align: center; margin-bottom: 3%;">Bienvenido</h1>
            <div class="imagen-bienvenida">
                <img src="./../../../assets/img/Logo.png" style="width: 16em; height: 8em;">
            </div>
        </div>
        <!-- Login de usuario -->
        <div class="login-usuario" *ngIf="esProtectora != true" style="background-color: transparent;">
            <form #usuarioLogin="ngForm" (ngSubmit)="onSubmit(usuarioLogin)">
                <!-- Correo electrónico -->
                <div class="form-group" id="email-usuario">
                    <label style="margin-bottom: 1%;">Correo electrónico</label>
                    <input id="input-usuarioEmail" type="email" name="email" class="form-control" [(ngModel)]="usuario.email" #email="ngModel"
                    [ngClass]="{'is-invalid': (email.dirty || email.touched) && email.invalid}" required>
                    <div class="invalid-feedback" *ngIf="(email.dirty || email.touched) && email.invalid">
                        <p *ngIf="email.errors?.['required']">Debes introducir un correo electrónico</p>
                    </div>
                </div>
                <!-- Contraseña -->
                <div class="form-group" id="password-usuario">
                    <label style="margin-bottom: 1%;">Contraseña</label>
                    <input id="input-usuarioPassword" type="password" name="password" class="form-control" [(ngModel)]="usuario.password" #password="ngModel"
                    [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid}" required>
                    <div class="invalid-feedback" *ngIf="(password.dirty || password.touched) && password.invalid">
                        <p *ngIf="password.errors?.['required']">Debes introducir una contraseña</p>
                    </div>
                </div>
                <!-- Checkbox de recordar usuario e hipervínculo para recuperar la contraseña -->
                <div class="recordar-pass">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Recordarme en este equipo
                            </label>
                          </div>
                    </form>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">¿Has olvidado la contraseña?</a>
                </div>
                <!-- Botón de login -->
                <div class="boton">
                    <div class="form-group" id="contenedor-boton">
                        <button id="boton" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                </div>
                <!-- Hipervínculo para registrarse -->
                <div class="registro">
                    <p>¿No tienes una cuenta? <a href="registro">Regístrate</a></p>
                </div>
            </form>
        </div>
        <!-- Login de protectora -->
        <div class="login-protectora" *ngIf="esProtectora == true" style="background-color: transparent;">
            <form #protectoraLogin="ngForm" (ngSubmit)="onSubmit(protectoraLogin)">
                <!-- Correo electrónico -->
                <div class="form-group" id="email-protectora">
                    <label style="margin-bottom: 1%;">Correo electrónico</label>
                    <input id="input-protectoraEmail" type="email" name="email" class="form-control" [(ngModel)]="protectora.email" #email="ngModel"
                    [ngClass]="{'is-invalid': (email.dirty || email.touched) && email.invalid}" required>
                    <div class="invalid-feedback" *ngIf="(email.dirty || email.touched) && email.invalid">
                        <p *ngIf="email.errors?.['required']">Debes introducir un correo electrónico</p>
                    </div>
                </div>
                <!-- Contraseña -->
                <div class="form-group" id="password-protectora">
                    <label style="margin-bottom: 1%;">Contraseña</label>
                    <input id="input-protectoraPassword" type="password" name="password" class="form-control" [(ngModel)]="protectora.password" #password="ngModel"
                    [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid}" required>
                    <div class="invalid-feedback" *ngIf="(password.dirty || password.touched) && password.invalid">
                        <p *ngIf="password.errors?.['required']">Debes introducir una contraseña</p>
                    </div>
                </div>
                <!-- Checkbox de recordar usuario e hipervínculo para recuperar la contraseña -->
                <div class="recordar-pass">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Recordarme en este equipo
                            </label>
                          </div>
                    </form>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">¿Has olvidado la contraseña?</a>
                </div>
                <!-- Botón de login -->
                <div class="boton">
                    <div class="form-group" id="contenedor-boton">
                        <button id="boton" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                </div>
                <!-- Hipervínculo para registrarse -->
                <div class="registro">
                    <p>¿No tienes una cuenta? <a routerLink="registro">Regístrate</a></p>
                </div>
            </form>
        </div>
    </div>
</div>