.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

    .derecha {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        width: 50%;
        margin-left: 5%;
    }

        .login-usuario {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 1px solid rgb(197, 197, 197);
            border-radius: 1em;
            padding: 2%;
            width: 100%;
        }

            #email-usuario {
                margin-top: 2%;
            }

                #input-usuarioEmail {
                    border-radius: 1em;
                }

            #password-usuario {
                margin-top: 2%;
            }

                #input-usuarioPassword {
                    border-radius: 1em;
                }

            .recordar-pass {
                display: flex;
                flex-direction: row;
                margin-top: 5%;
            }

        .login-protectora {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 1px solid rgb(197, 197, 197);
            border-radius: 1em;
            padding: 2%;
        }

                #email-protectora {
                    margin-top: 2%;
                }

                    #input-protectoraEmail {
                        border-radius: 1em;
                    }

                #password-protectora {
                    margin-top: 2%;
                }

                    #input-protectoraPassword {
                    border-radius: 1em;
                    }

            .boton {
                text-align: center;
                margin-top: 5%;
            }
            
                #boton {
                    border-radius: 1em;
                    background-color: #5EC0CA;
                    padding: 3%;
                    border: 0px;
                }

                a {
                    text-decoration: none;
                }

            .registro {
                display: flex;
                justify-content: center;
                margin-top: 5%;
            }

@media screen and (max-width: 1400px) {
    .izquierda {
        display: none;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }
                      
    * {
    text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .izquierda {
        display: none;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox-tipoUsuario {
        display: flex;
        flex-direction: column;
    }

    .login-usuario {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login-protectora {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .recordar-pass {
        display: flex;
        flex-direction: column;
    }
                      
    * {
    text-align: center;
    }
}