<div class="container" style="background-image: url(./../../../assets/img/Fondo.jpg);">
  <h1 style="margin-top: 35px; margin-bottom: 30px;">{{protectora.nombre}}</h1>

 
<div class="info" style=" margin-right: 90px; border-radius: 10px;">

      <img id="imagenInfo" src="../../../assets/img/perfil-usuario/puppy.jpg" style="width: 200px; height: 150px; border-radius: 15px;  margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
 
  <table>
      <thead>
          <tr>
             
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Email</th>
              <th>Teléfono</th>
          </tr>
      </thead>
  <tbody>
  <ng-container  *ngIf="protectora!=null">

      <tr>
          <td>{{protectora.nombre}}</td>
          <td>{{protectora.direccion}}</td>
          <td>{{protectora.email}}</td>
          <td>{{protectora.telefono}}</td>

      </tr>

  </ng-container>
      </tbody>
  </table>

</div>
<div class="boton">
  <a type="reset" class="form-control" id="botonCrear" href="añadirAnimal" style="text-align: center; ">Crear Animal</a>
  <button type="reset" class="form-control" routerLink="/editarPerfilProtectora" id="botonModificar">Modificar</button>
  </div>
  <hr>


    <!-- descripcion  -->
    <section class="descripcion">
      <h3 class="custom-heading">Nuestro Albergue:</h3>
        <div class="cms-heading layout1" style="display: flex; flex-direction: row;">
       
            <span style="font-size:large;">
              <p >{{protectora.descripcion}}</p>
                <!-- <p>No podría existir sin la ayuda de las casas de acogidas y guarderías privadas, que ofrecen un hogar temporal 
                a muchos de nuestros animales, hasta que les encontremos un adoptante definitivo.<br> En la mayoría de los casos 
                en ellas viven nuestros cachorros, perros de tamaño pequeño/mediano, todos los gatos y otras especies de compañía.</p>
                
                <p>Para el resto de nuestros perros, a partir de medianos, si no hemos podido encontrarle una casa de acogida, Abrazo 
                Peludo dispone de su propio albergue. Un recinto espacioso donde se pueden albergar hasta unos 30 acogidos. <br>
                La finca en su totalidad se divide en varias zonas de diferentes funcionalidades.</p> 

                <p>Existen 4 grandes patios (1 arbolado, 1 de césped y 2 de tierra) que se han dividido para que los perros salgan el mayor tiempo posible 
                de forma grupal y en manadas equilibradas, siempre y cuando el clima lo permita. <br></p>

                <p>Sus habitaciones/cheniles son espaciosos y dentro de los mismos disponen de casetas de madera con colchonetas 
                perfectamente aisladas y con mantas para las épocas de frío, especialmente dada su cercanía con la sierra.<br> Así 
                mismo todos tienen su patio para que salgan a tomar el aire cuando quieran mientras esperan su turno de salida. 
                Durante su estancia en el albergue, aparte de ejercicio, nuestros perros reciben todos los cuidados necesarios: 
                alimentación, atención veterinaria, paseos con los voluntarios, y por supuesto, muchísimo cariño. </p> -->
            </span>
            <img src="./assets/img/perfil-usuario/protectora.jpg" class="protectora" style="width: 410px; height: 400px; display: flex; align-items: flex-end; margin-left: 40px; border-radius: 15px;">
        </div>
    </section>
    <br>
    <!-- termina descripcion -->
    
    <!-- galeria fotos -->
    <div class="galeria">
    <div class="card-group">
          <div class="card" style="border-radius: 2em; height: 15em;">
            <img src="../../../assets/img/perfil-usuario/cocker.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cocker</h5>
            </div>
          </div>

          <div class="card" style="border-radius: 2em; height: 15em;">
            <img src="../../../assets/img/perfil-usuario/dog.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Amigos</h5>
            </div>
          </div>

          <div class="card" style="border-radius: 2em; height: 15em;">
            <img src="../../../assets/img/perfil-usuario/niebla.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Niebla</h5>
            </div>
          </div>

          <div class="card" style="border-radius: 2em; height: 15em;">
            <img src="../../../assets/img/perfil-usuario/puppy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Puppy</h5>
            </div>
          </div>
      </div>
    </div>