<div class="container" style="background-image: url(./../../../assets/img/Fondo.jpg);">
  <h1 style="margin-top: 35px; margin-bottom: 30px;">{{protectora.nombre}}</h1>

 
<div class="info" style=" margin-right: 90px; border-radius: 10px;">

      <img id="imagenInfo" src="{{protectora.imagen}}" style="width: 200px; height: 150px; border-radius: 15px;  margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
 
  <table>
      <thead>
          <tr>
             
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Localidad</th>
              <th>Teléfono</th>
          </tr>
      </thead>
  <tbody>
  <ng-container  *ngIf="protectora!=null">

      <tr>
          <td>{{protectora.nombre}}</td>
          <td>{{protectora.direccion}}</td>
          <td>{{protectora.localidad}}</td>
          <td>{{protectora.telefono}}</td>

      </tr>

  </ng-container>
      </tbody>
  </table>
 
</div>
<div class="boton">
  <a type="reset" class="form-control" id="botonCrear" routerLink="/añadirAnimal" style="text-align: center; ">Añadir Animal</a>
  <button type="reset" class="form-control" routerLink="/editarPerfilProtectora" id="botonModificar">Modificar</button>
  </div>
  <hr>


    <!-- descripcion  -->
    <section class="descripcion">
    
        <div class="cms-heading layout1" style="display: flex; flex-direction: row;">
          
            <span style="font-size:larger;">
              <h3 class="custom-heading" >Sobre nosotros:</h3>
              <p style="line-height: 180%">{{protectora.descripcion}}</p>
            </span>
            <img src="{{imagen.imagen}}" class="protectora" style="width: 410px; height: 400px; display: flex; align-items: flex-end; margin-left: 40px; border-radius: 15px;">
        </div>
    </section>
    <br>
    <!-- termina descripcion -->
    
   <!-- galeria fotos -->
    <div class="galeria" >
      <div class="card" style="border-radius:2em" *ngFor="let animal of animales">
        <img src="{{animal.imagen}}" class="row" >
      </div>
    </div>


</div>