.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
    width: 100%;
    height: 80%;
}

    .derecha {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        width: 50%;
        margin-left: 5%;
    }

        .imagen-bienvenida {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .recordarPass {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 1px solid rgb(197, 197, 197);
            border-radius: 1em;
            padding: 20px;
            width: 100%;
        }

            #email-usuario {
                margin-top: 2%;
            }

                #input-usuarioEmail {
                    border-radius: 1em;
                }

            #password-usuario {
                margin-top: 2%;
            }

                #input-usuarioPassword {
                    border-radius: 1em;
                }

            #newPassword-usuario {
                margin-top: 2%;
            }

                #input-usuarioNewPassword {
                    border-radius: 1em;
                }

            .mostrar-pass {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 5%;
            }

            .boton {
                text-align: center;
                margin-top: 5%;
            }
            
                #boton {
                    border-radius: 1em;
                    background-color: #5EC0CA;
                    padding: 3%;
                    border: 0px;
                    color: white;
                    background-image: linear-gradient(45deg, #00e5ff50  50%, transparent 50%);
                    background-position: 100%;
                    background-size: 400%;
                    transition: background 300ms ease-in-out;
                }

                #boton:hover {
                    background-position: 0;
                }

                a {
                    text-decoration: none;
                }

            .registro {
                display: flex;
                justify-content: center;
                margin-top: 5%;
            }

@media screen and (max-width: 1400px) {
    .izquierda {
        display: none;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }
                      
    * {
    text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .izquierda {
        display: none;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox-tipoUsuario {
        display: flex;
        flex-direction: column;
    }

    .recordarPass {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .login-protectora {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .recordar-pass {
        display: flex;
        flex-direction: column;
    }
                      
    * {
    text-align: center;
    }
}