<div class="container">
    <h1>Lista de animales</h1>
    <form  method="post" enctype="multipart/form-data" target="_blank" class="formulario">
        
        
             <!--Input nombre-->
             <div class="clase1" > 
                <div class="form-group" >
                    <label style="margin-left: 10px;">Nombre</label>
                    <input type="text"  class="redondeado" #nombre>
              </div>
                 <!--Lista desplegable genero-->
                
            <div class="form-group" style="margin-left: 10px;">
                <label style="margin-left: 10px;">Sexo</label><br>
                <select id="genero" style="background-color: white;" class="redondeado" type="radio" name="genero"  [(ngModel)]="animal.sexo" #genero="ngModel" #sexo>
                <!-- <option value="" disabled selected>Selecciona género</option> -->
                    <option value="1">Macho</option> 
                    <option value="2">Hembra</option> 
                </select>
            </div>
        
        
               <!--ILista desplegable tipo animal-->
              
                <div class="form-group" style="margin-left: 10px;">
                    <label style="margin-left: 10px;">Tipo de Animal</label><br>
                    <select id="tipoAnimal" style="background-color: white;" class="redondeado" name="tipoAnimal"  [(ngModel)]="animal.tipo_animal" #tipoAnimal="ngModel" #tipo_animal>
                        <!-- <option value="" disabled selected>Selecciona tipo</option> -->
                        <option value="1">Perro</option> 
                        <option value="2">Gato</option> 
                    </select>
                </div>
             

               <!--Input fecha ingreso-->
              
                <!-- <div class="form-group" style="margin-left: 10px;">
                  <label for="start" style="margin-left: 10px;">Ingreso:</label><br>
                  <input type="date" id="start" name="ftiempoAdopcion"  class="redondeado" value="" min="2018-01-01" max="2021-12-31"
                    [(ngModel)]="animal.tiempoAdopcion" #tiempoAdopcion="ngModel"> 
                </div> -->
                
               
        </div>
      <!--Botón enviar-->
      <div class="botondiv">
        <div class="row" >
            <div class="col"class="botosposicion" >
                <button type="submit" id="botonEnviar" (click) = "mostrar(nombre.value)">Buscar</button>
            </div>
        </div>
     </div>

    </form>
    <div class="columna">
        <div >
            <img src="./assets/noticias/dog.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;" *ngIf="animal!=null && nombre.value!='';">{{animal.nombre}}</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/cerdito.webp" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Pin-Pon</p>
        </div>
        <div>
            <img src="./assets/noticias/kitten.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Polo</p>
        </div>
        <div>
            <img src="./assets/img/Página inicio/Peluso.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Peluso</p>
        </div>
       
    </div>
    <div class="columna">
        <div>
            <img src="./assets/img/perfil-usuario/gato1.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Bigotes</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/hamster.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Goloso</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/puppy.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Buda</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/gato3.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Brooklyn</p>
        </div>
    </div>
    <div class="columna">
        <div>
            <img src="./assets/img/perfil-usuario/cocker.webp" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Cocker</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/gato.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Chicho</p>
        </div>
        <div>
            <img src="./assets/img/perfil-usuario/spike.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Spike</p>
        </div>
        <div>
            <img src="./assets/img/Página inicio/Gato ojos.jpg" class="imagen">
            <p style="text-align: center; margin-top: 10px; font-weight: bold;">Salem</p>
        </div>
    </div>
</div>