<div class="contenedor">
    <!-- Título de la página -->
    <div class="titulo">
        <h1 style="margin-top: 5%; margin-left: 3%;">Lista de animales</h1>
    </div>
    <!-- Barra de filtrado -->
    <div class="formulario"> 
        <div class="estiloFormulario">
            <!-- Input de nombre -->
            <div class="form-group">
                <label style="margin-right: 10px; margin-left: 10px;">Nombre</label>
                <input type="text" class="redondeado" id="nombre" #nombre>
            </div>
            <!-- Desplegable de género-->
            <div class="form-group" style="margin-left: 10px;">
                <label style="margin-left: 10px; margin-right: 10px;">Género</label><br>
                <select id="genero" style="background-color: white;" class="redondeado" type="radio" name="genero" #sexo>
                    <option value="" selected>Selecciona género</option>
                    <option value="Macho">Macho</option> 
                    <option value="Hembra">Hembra</option> 
                </select>
            </div>
            <!-- Desplegable de tipo de animal -->
            <div class="form-group" style="margin-left: 10px;">
                <label style="margin-left: 10px;">Tipo de animal</label><br>
                <select id="tipoAnimal" style="background-color: white;" class="redondeado" name="tipoAnimal" #tipo_animal>
                    <option value="" selected>Selecciona tipo</option>
                    <option value="Perro">Perro</option> 
                    <option value="Gato">Gato</option>
                    <option value="Roedores">Roedor</option>
                    <option value="Otros">Otros</option>  
                </select>
            </div>
            <!-- Input de fecha de ingreso -->
            <div class="form-group" style="margin-left: 10px;">
                <label for="start" style="margin-left: 10px;">En adopción desde:</label><br>
                <input type="date" id="start" name="fecha_ingreso" class="redondeado" value="" min="2010-01-01" #fecha_ingresso>  
            </div>
            <!--Botón enviar-->
            <div class="botondiv">
                <div class="row" >
                    <div class="col"class="botosposicion">
                        <button type="submit" id="botonEnviar" (click) = "mostrar(nombre.value, sexo.value, tipo_animal.value, fecha_ingresso.value)">Buscar</button>
                    </div>
                </div>  
            </div>                         
        </div>
    </div>
    <!-- Lista de animales para la protectora -->
    <div class="row" *ngIf="sesion.tipo == 'protectora'">
        <div *ngFor="let animal of animales" class="col-3" [routerLink]="['/animalDetalleProtectora']" (click)="mostrarDetalle(animal.idAnimal)">          
            <div class="card" style="width: 18rem; border-radius: 1em;">
                <img src="{{animal.imagen}}" class="card-img-top" alt="" style="width: 18em; height: 12em;">
                <div class="card-body">
                  <p class="card-text" style="text-align: center; font-weight: 1000; font-size: 1.25em;">{{animal.nombre}}</p>
                </div>
            </div>        
        </div>
    </div>
    <!-- Lista de animales para el adoptante o usuario no logueado -->
    <div class="row" *ngIf="sesion.tipo == 'adoptante' || sesion.tipo == null">
        <div *ngFor="let animal of animales" class="col-3" [routerLink]="['/perfilAnimal']" (click)="mostrarDetalle(animal.idAnimal)">          
            <div class="card" style="width: 17rem; border-radius: 1em;">
                <img src="{{animal.imagen}}" class="card-img-top" alt="" style="width: 17em; height: 12em;">
                <div class="card-body">
                  <p class="card-text" style="text-align: center; font-weight: 1000; font-size: 1.25em;">{{animal.nombre}}</p>
                </div>
            </div>        
        </div>
    </div>
</div>