.contenedor {
    display: flex;
    flex-direction: column;
}

    .formulario {
        display: flex;
        /* justify-content: center;
        align-items: center; */
        margin-left: 3%;
        width: 97%;
    }

        .estiloFormulario{
            width: 95%;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
            background-color: #5EC0CA;
            color: #fff;
            border-radius: 1em;
            padding: 1%; 
        }

            .redondeado{
                border-radius: 1em;
                border-style: none;
                width: 200px;
                height: 35px;
                text-align: center;
                display: flex;
                flex-direction: row; 
            }

                #nombre {
                    border-radius: 1em;
                }

            .botondiv{
                margin-top: 2%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                #botonEnviar{
                    border-top: 10px;
                    border-style: none;
                    width: 190px;
                    height: 35px;
                    background-color:  #fff;; 
                    color:#5EC0CA; 
                    border-radius: 5em;           
                    /* Efectos */
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }

                #botonEnviar:hover {
                    box-shadow: 0 0 40px 40px #f5993e inset;
                    color: white;
                }

    .row {
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        width: 97%;
    }

        .card {
            margin-top: 5%;
        }

        .card-img-top:hover {
            filter: brightness(70%);
            transition: 1s;
        }

@media screen and (max-width: 1000px) {
    .container{
        padding: 20px;
        padding-bottom: 70px;
        margin-bottom: -55px;
    }    
}