.container{
    padding: 10px;
    padding-bottom: 70px;
    margin-bottom: -55px;
    /* border: 2px solid black; */
}

.breve{
    text-align: justify;
    margin-left: 40px;
    margin-right: 6px;
    font-size: smaller;
}
h1{
    margin-left: 40px;
    margin-top: 30px;
   
}
.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:8px;
    margin-bottom: 25px;

}
.botonStyle1{
    border-radius:  20px 20px 20px 20px;
    width: 90px;
    height: 30px;
    background-color: #5EC0CA

}
.botonStyle2{
  border-radius:  20px 20px 20px 20px;
  width: 90px;
  height: 30px;
  background-color: #FCF4DB

}
.fechapeque単a{
    font-size: 9pt;
    color:gray;
    border-radius:  20px 20px 20px 20px;
}
.titulopeque単o{
    font-size: 10pt;
    font-weight: bold;
}
.fotopeque単a{
    width: 125px;
    height: 125px;
    border-radius:  20px 20px 20px 20px;
    
}


.descripcionpeque単a{
    font-size: 8pt;

}
.general{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:4%
}

.fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.close{
    color:#5EC0CA;
    border-style: none;
    background-color: white;
}
.noticiascolumna{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    /* border: 2px solid black; */
    width: 100%;
    height: 750px;
    gap: 30px;
}

.noticias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;
    margin-right: 20px;
   
     /* efectos */
     overflow:hidden;
}
.noticias:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    cursor: pointer;
}

.ultima{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

#ultimafoto{
    width: 400px;
    height: 450px;
    margin-left: 40px;
    margin-top: 23px;
    border-radius:  20px 20px 20px 20px;
}
#ultimafecha{
    font-size: 16pt;
    color: gray;
    margin-left: 40px;
}
#ultimatitulo{
    font-size: 18pt;
    font-weight: bold;
    margin-left: 40px;

}
#ultimadescripcion{
    font-size: 14pt;
    margin-left: 40px;
}
#fijar{
    position: fixed;
}
#content1{
    width: 20%;
    height: 15%;
}
@media screen and (max-width: 450px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        padding: 10px;
        padding-bottom: 70px;
        margin-bottom: -55px;
    }
}