<div class="contenedor">
  <div class="titulo">
    <h1 style="margin-top: 5%; margin-left: 3%;">Dashboard</h1>
  </div>
  <div class="datos">
    <!-- Primera tarjeta -->
    <div class="dato1">
      <div class="informacion">
        <div class="valor" style="font-size: x-large; margin-left: 10%; font-weight: 1000;">
          90
        </div>
        <div class="texto" style="margin-top: 10%; margin-left: 10%; font-size: large; font-weight: 500;">
          Animales en adopción
        </div>
      </div>
      <div class="icono">
        <img src="./../../../assets/img/Página de dashboard/Adoptar.png" style="width: 4em; height: 4em; margin-left: 10%;">
      </div>
    </div>
    <!-- Segunda tarjeta -->
    <div class="dato2">
      <div class="informacion">
        <div class="valor" style="font-size: x-large; margin-left: 10%; font-weight: 1000;">
          5
        </div>
        <div class="texto" style="margin-top: 10%; margin-left: 10%; font-size: large; font-weight: 500;">
          Animales en acogida
        </div>
      </div>
      <div class="icono">
        <img src="./../../../assets/img/Página de dashboard/Casa de acogida.png" style="width: 3em; height: 3em; margin-left: 30%;">
      </div>
    </div>
    <!-- Tercera tarjeta -->
    <div class="dato1">
      <div class="informacion">
        <div class="valor" style="font-size: x-large; margin-left: 10%; font-weight: 1000;">
          2
        </div>
        <div class="texto" style="margin-top: 5%; margin-left: 10%; font-size: large; font-weight: 500;">
          Animales con problemas médicos
        </div>
      </div>
      <div class="icono">
        <img src="./../../../assets/img/Página de dashboard/Veterinario.png" style="width: 3em; height: 3em; margin-left: 30%;">
      </div>
    </div>
    <!-- Cuarta tarjeta -->
    <div class="dato2">
      <div class="informacion">
        <div class="valor" style="font-size: x-large; margin-left: 10%; font-weight: 1000;">
          7
        </div>
        <div class="texto" style="margin-top: 10%; margin-left: 10%; font-size: large; font-weight: 500;">
          Animales adoptados
        </div>
      </div>
      <div class="icono">
        <img src="./../../../assets/img/Página de dashboard/Adoptados.png" style="width: 3em; height: 3em; margin-left: 30%;">
      </div>
    </div>
  </div>
  <!-- Estadísticas -->
  <div class="estadisticas">
    <div style="display: flex; flex-direction: column;">
      <div class="adopciones">
        <div class="adoptados">
          <div class="imagen">
            <img src="./../../../assets/img/Página de dashboard/Gráfico circular.png" style="width: 15em; height: 15em;">
          </div>
          <div class="numero" style="margin-top: 2%;">
            0
          </div>
          <div id="texto">
            Animales adoptados hoy
          </div>
        </div>
      </div>
      <div class="estado">
        <div id="titulo">
          Adopciones
        </div>
        <div class="barras">
          <img src="./../../../assets/img/Página de dashboard/Gráfico 2.png" style="width: 25em; height: 20em;">
        </div>
      </div>
    </div>
    <!-- Gráfico -->
    <div class="grafico">
      <img src="./../../../assets/img/Página de dashboard/Gráfico 1.png" style="width: 100%; height: 30em; margin-left: 10%; border-radius: 1em;">
    </div>
  </div>
</div>