<section class="general">
    <h1>Preguntas frecuentes</h1>
    <!-- <div class="preguntas">
        <div>
            <p (click)="ver()">¿Quién puede adoptar?</p>
            <div *ngIf=mostrar>
                Pueden adoptar todas aquellas personas mayores de 18 años.
            </div>
        </div>
        <div>
            <p (click)="ver()" >2</p>
            <div *ngIf=mostrar>
                Pueden adoptar todas aquellas personas mayores de 18 año
            </div>
        </div>
    </div> -->


</section>
