<section class="general">
    <h1>Preguntas frecuentes</h1>
    <div class="preguntas">
        <div>
            <p (click)="ver()">¿Quién puede adoptar?</p>
            <div *ngIf=mostrar class="respuesta">
                Pueden adoptar todas aquellas personas mayores de 18 años.
            </div>
        </div>
        <div>
            <p (click)="ver()" >¿En qué consiste el proceso de adopción?</p>
            <div *ngIf=mostrar class="respuesta">
                El proceso de adopción es un acto, a través del cual, una
                persona mayor de edad se hace cargo de un animal de la protectora
                la finalidad de darle un hogar y cuidarlo.
            </div>
        </div>
        <div>
            <p (click)="ver()" >¿Cómo puedo adoptar?</p>
            <div *ngIf=mostrar class="respuesta">
                Si ya has decidido qué animal es el que quieres adoptar de cualquiera de nuestras protectoras
                , entra en su ficha en la web y clickea sobre el botón "Adopt-Me".
                Completa el formulario que aparece y una vez que la protectora lo reciba se pondran en contacto,
                para dar los siguientes pasos: comprobar que cumples los requisitos y
                que eres una persona adecuada para la adopción.
            </div>
        </div>
        <div>
            <p (click)="ver()" >¿Qué requisitos tengo que cumplir? </p>
            <div *ngIf=mostrar class="respuesta">
                Ser mayor de edad, tener un domicilio en el que poder tener el animal adoptado, firmar un
                 contrato de adopción y asumir los costes veterinarios.
            </div>
        </div>
        <div>
            <p (click)="ver()" >¿Qué documentos son necesarios para la adopción?</p>
            <div *ngIf=mostrar class="respuesta">
                Simplemente necesitarás el DNI o un documento análogo.
            </div>
        </div>
   
    <div>
        <p >¿En qué consiste el proceso de adopcion?</p>
        <div  class="respuesta">
            El proceso de adopción es un acto, a través del cual, una
            persona mayor de edad se hace cargo de un animal de la protectora
             la finalidad de darle un hogar y cuidarlo.
        </div>
    </div>
</div>
</section>
